<!DOCTYPE HTML>
<html ng-app="chatroom">

<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="./dist/bundle.css">
</head>

<body ng-controller="mainCtrl">

  <div class="main-container">
    <h1> DevMountain Chat Room </h1>
      <input class="form-control text-box" type="text" ng-model="filterChat" placeholder="filter chats">
      
    <form ng-submit="postMsg(message)">
      <input class="form-control text-box" type="text" ng-model="message" placeholder="Message">
    </form>

    <div class="messages-container">
      <p class="chat" ng-repeat="message in messages  | orderBy : '-createdAt' | filter: filterChat">
          {{message.message}}<br/> {{message.cookie}} <br/> {{message.createdAt | date: 'hh:mm:ssa'}}  {{ message.createdAt | date}}</p>
    </div>

  </div>

  <script src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.js"></script> -->
  <script src="./dist/scripts/bundle.js"></script>
</body>

</html>